label {
    font-size: 1.5em !important;
    margin: .2em;
    padding: 0 !important;
    line-height: 20px !important;

}


#dashboard { 
    display: flex;
       flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
     }

     #dashboard>div{ 
        /* border: 4px solid forestgreen; */
         }
    

#messaggio_ {

    font-size: 2em;
    color: blue;
    font-weight: bold;

}

#estratta {

     
    height: fit-content;
    width:fit-content;
   
}

#container {

 display: flex;
    flex-wrap: wrap;
     flex-direction: column;
  
}



#chat{

    width: 250px;
    height: 250px;
    /* margin-left:auto; */
    overflow-y: scroll;
    overflow-x: hidden;
  

    
}
#chat div {
    text-align: left;
}

.chatspannick {

    font-weight: bold;
    margin-right: 1.6em;
}

.chatspanmess {

    font-weight: normal;
    font-style: italic;
    margin-right: 1em;
}
#chat input{

    width: 100%;    

    margin-top: 2em;
    
}


#tcontainer,
#gcontainer {
    display: flex;
    flex-wrap: wrap;
     flex-direction: row;
   
}

#mcontainer {
    display: flex;
    flex-wrap: wrap;
     flex-direction: column;

}

#tcontainer>div,
#mcontainer>div {

    padding: 20px;
    text-align: center;
}


#logincontainer {
    display: flex;
    flex-wrap: wrap;
     flex-direction: row;
 
   justify-content: center;
   column-gap: 4em;
   align-items:flex-start;
   
}

#logincontainer>div {

     
     border: 1px solid black; 

}


#board {
    display: flex;
    flex-wrap: wrap;
     flex-direction: row;
     /* border: 1px solid maroon; */
   
}

#board>div {

    padding: 20px;
    text-align: center;
    /* border: 1px solid aqua; */
}
#msgcontainer {
    display: flex;
    flex-wrap: wrap;
     flex-direction: row;
     /* border: 4px solid salmon; */
     justify-content:space-between;
   
}

#msgcontainer>div {

    padding: 20px;
    text-align: center;
    /* border: 1px solid aqua; */
}


table {
    border: 2px solid gray;

    border-collapse: collapse;
    margin: 10px
}


td {

    color: #303030;
    font-weight: bolder;
    font-size: 1.5em;
    width: 1.8em;
    height: 1.8em;
    border: 3px solid black;
    text-align: center;
    vertical-align: middle;

}

.tbl td {

    color: #303030;
    font-weight: normal;
    font-size: 1em;

    height: 1em;
    /* border: 1px solid green; */
    text-align: left;
    vertical-align: middle;

}

#regolamento {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 20%;
    left: 40%;
    margin: -50px 0 0 -50px;
    border: 4px solid royalblue;
    padding: 40px;



}

#regolamento input {
    padding: 0px;
    font-weight: bold;
    width: 40px;
    color: darkblue;
    border: none;

}

.back0 {
    background: hsl(0, 85%, 80%);
}

.back1 {
    background: hsl(60, 75%, 85%);
}

.back2 {
    background: hsl(30, 75%, 85%);
}

.back3 {
    background: hsl(180, 75%, 85%)
}

.back4 {
    background: hsl(240, 75%, 85%);
}

.back5 {
    background: hsl(120, 75%, 85%);
}

.back10 {
    background: hsla(00, 75%, 55%, 0.8);
}

[data-href] {
    cursor: pointer;
}