<!DOCTYPE html>
<html>

<head>
    <title>TOMBOLA</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./stili.css">




</head>

<body>


    <div id="app">

        <div v-if="loggato  && accettato">
            <el-row :gutter="10">

                <div id="menu" v-if="amministratore">
                    <template>
                        <el-tabs v-model="activeTab" :tab-position="'top'" @tab-click="handleClick">
                            <el-tab-pane label="Mie" name="Mie"></el-tab-pane>
                            <el-tab-pane label="User" name="User"></el-tab-pane>
                            <el-tab-pane label="Tabellone" name="Tabellone"></el-tab-pane>
                            <el-tab-pane label="Regolamento" name="Regolamento"></el-tab-pane>
                        </el-tabs>
                    </template>

                </div>



            </el-row>

            <el-row :gutter="10">

                <div v-if="amministratore" id="dashboard">


                    <div id="buttons">

                        <div v-if="estrai">

                            <el-button type="danger" onclick="estraiNumero()">Estrai Numero</el-button>
                            <!-- <button onclick="estraiNumero()">Estrai Numero</button> -->
                        </div>
                        <div v-if="!estrai">
                            <el-button type="success" onclick="via()">Via!</el-button>
                            <!-- <button id="btnvia" onclick="">Via!</button> -->
                        </div>

                        <!-- <button id="tabella" onclick="chiedi_tabella()">Tabella</button> -->


                    </div>
                    <div id="tabhtml" v-html="tabhtml">


                    </div>
                </div>

            </el-row>
            <el-row :gutter="10">
                <div id="messaggio_">

                    {{messaggio}}

                </div>
            </el-row>
            <el-row :gutter="10">
                <div id="estratta">

                    {{pallina}}

                </div>
            </el-row>



            <el-row :gutter="10">

                <div id="mcontainer" v-show="activeTab=='Mie'"></div>
                <div id="tcontainer" v-if="status<0"></div>

                <div id="gcontainer" v-show="activeTab=='User'"></div>

                <div id="tabpremi" v-html="premitab" v-if="status>=0"></div>

            </el-row>

            <el-row :gutter="10">
                <div id="tabcanvas" v-show="amministratore"></div>
            </el-row>
            <el-row :gutter="10">



            </el-row>
        </div>

        <!-- <div v-if="!loggato" id="Regolamento"> -->


        <div id="regolamento" v-if="!accettato && loggato==true">

            <table>

                <tr>
                    <td>Cartelle max</td>
                    <td><input v-model="form.maxC" disabled></td>
                </tr>
                <tr>
                    <td>Prezzo cartella</td>
                    <td><input v-model="form.prezzo" disabled></input></td>
                </tr>
                <tr>
                    <td>Auto</td>
                    <td><input v-model="form.auto" disabled></input></td>
                </tr>
                <tr>
                    <td>IP multipli</td>
                    <td><input v-model="form.ipmult" disabled></input></td>
                </tr>
                <tr>
                    <td>Singola chiamata</td>
                    <td><input v-model="form.vincunico" disabled></input></td>
                </tr>
                <tr>
                    <td> <el-button type="primary" onclick="Accetto()">Accetto</el-button></td>
                    <td><el-button type="success" onclick="Rifiuto()">Rinuncio</el-button></td>
                </tr>



            </table>


        </div>

        <div v-if="!loggato">
            <div  id="prelogin">
                <el-row :gutter="10">

                    <div class="radio-toolbar">
                        <p> <input type="radio" id="creaTomb" v-model="creajoin" value="1" name="creaTomb">
                            <label for="creaTomb">CREA</label>

                        <p> <input type="radio" id="joinTomb" v-model="creajoin" value="2" name="creaTomb">
                            <label for="joinTomb">JOIN</label>


                    </div>

            </div>


            <div id="login">

                <el-form ref="form" :model="form" :label-position="labelPosition" label-width="180px">
                    <el-form-item label="Nick">
                        <!-- <el-tooltip class="item" effect="dark" content="3-10 lettere [a-zA-Z]" placement="bottom-start"> -->
                        <el-input v-model="form.nick"></el-input>
                        <!-- </el-tooltip> -->
                    </el-form-item>

                    <el-form-item label="Join">
                        <el-input v-model="form.join"></el-input>
                    </el-form-item>
                    <div v-if="creajoin==1">
                        <el-form-item label="Cartelle max">
                            <el-input-number v-model="form.maxC" :min="1" :max="6"></el-input-number>
                        </el-form-item>

                        <el-form-item label="Prezzo cartella">
                            <el-input-number v-model="form.prezzo" :min="1" :max="100"></el-input-number>
                        </el-form-item>


                        <el-form-item label="Automatico">
                            <el-switch v-model="form.auto"></el-switch>
                        </el-form-item>
                        <el-form-item label="IP multipli">
                            <el-switch v-model="form.ipmult"></el-switch>
                        </el-form-item>
                        <el-form-item label="Vinc. Unico">
                            <el-switch v-model="form.vincunico"></el-switch>
                        </el-form-item>
                    </div>
                </el-form>
                <el-button type="primary" onclick="OKRegolam()">OK</el-button>
            </div>

        </div>

    </div>



    <script src="./script.js"></script>


    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                loggato: false,
                preloggato: false,
                creajoin: "2",
                status: -2,
                comprate: 0,
                amministratore: false,
                finecompera: false,
                estrai: false,
                messaggio: "",
                pallina: "",
                tabhtml: "",
                premitab: "",
                labelPosition: "left",
                activeTab: "Mie",
                accettato: false,
                form: {

                    nick: "",
                    join: "",
                    maxC: 2,
                    prezzo: 3,
                    auto: false,
                    ipmult: true,
                    vincunico: false


                },



            }, methods: {
                handleClick(tab, event) {

                }

            }
        })


    </script>

</body>

</html>