<!DOCTYPE html>
<html>

<head>
    <title>TOMBOLA</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <link rel="stylesheet" href="./stili.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

</head>

<body>

    <div id="app">

        <div v-show="status!=6">


            <div id="tabhtml" v-html="tabhtml">


            </div>

            <div v-if="loggato && accettato" id="container">



                <div v-if="amministratore" id="dashboard">


                    <div id="buttons">



                        <div>
                            <!-- <div v-if="estrai"> -->

                            <button type="button" class="btn btn-danger" onclick="estraiNumero()" id="cmdEstrai">Estrai
                                Numero</button>
                            <!-- <el-button type="danger" onclick="estraiNumero()" id="cmdEstrai">Estrai Numero</el-button> -->

                        </div>
                        <div>

                            <button type="button" class="btn btn-success" id="cmdVia" onclick="via()">Chiudi
                                Iscrizioni</button>
                            <!-- <el-button type="success" onclick="via()" id="cmdVia">Chiudi Iscrizioni</el-button> -->

                        </div>

                    </div>
                </div>
                <div id="msgcontainer">
                    <div>
                        <div id="mcontainer" v-show="activeTab=='Mie'"></div>
                    </div>
                    <div>
                        <div id="messaggio_">

                            {{messaggio}}

                        </div>

                        <div id="estratta">

                            {{pallina}}

                        </div>
                    </div>
                    <div id="chat">
                        <div id="mchat"></div>

                        <div>
                            <input type="text" value="" v-model="mchat" id="inputchat" @keypress="press">
                            <button type="button" class="btn btn-success" onclick="chatm()">></button>
                            <!-- <el-button type="success" onclick="chatm()">></el-button> -->
                        </div>
                    </div>
                </div>


            </div>


            <div id="board">


                <div id="tcontainer" v-if="status<0 && comprate<form.maxC"></div>

                <div id="gcontainer" v-show="activeTab=='User'"></div>


            </div>



            <div id="tabcanvas" v-show="amministratore"></div>

        </div>

        <!-- <div v-if="!loggato" id="Regolamento"> -->
        <div id="tabpremi" v-html="premitab" v-show="status==6"></div>

        <div id="regolamento" v-if="!accettato && loggato==true && !amministratore">

            <table>

                <tr>
                    <td>Cartelle max</td>
                    <td><input v-model="form.maxC" disabled></td>
                </tr>
                <tr>
                    <td>Prezzo cartella</td>
                    <td><input v-model="form.prezzo" disabled></input></td>
                </tr>
                <tr>
                    <td>Auto</td>
                    <td><input v-model="form.auto" disabled></input></td>
                </tr>

                <tr>
                    <td>Ambo</td>
                    <td><input v-model="form.ambo" disabled></input></td>
                </tr>
                <tr>
                    <td>Terno</td>
                    <td><input v-model="form.terno" disabled></input></td>
                </tr>
                <tr>
                    <td>Quaterna</td>
                    <td><input v-model="form.quaterna" disabled></input></td>
                </tr>
                <tr>
                    <td>Cinquina</td>
                    <td><input v-model="form.cinquina" disabled></input></td>
                </tr>
                <tr>
                    <td>Tombola</td>
                    <td><input v-model="form.tombola" disabled></input></td>
                </tr>
                <tr>
                    <td>Tombolino</td>
                    <td><input v-model="form.tombolino" disabled></input></td>
                </tr>

                <tr>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary" onclick="Accetto()">Accetto</button>
                        <!-- <el-button type="primary" round onclick="Accetto()">Accetto</el-button> -->
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" onclick="Rifiuto()">Rinuncio</button>
                        <!-- <el-button type="danger" round onclick="Rifiuto()">Rinuncio</el-button> -->
                    </td>
                </tr>



            </table>


        </div>

        <div v-if="!loggato" id="logincontainer">
            <div id="prelogin">


                <div class="radio-toolbar">
                    <p> <input type="radio" id="creaTomb" v-model="creajoin" value="1" name="creaTomb">
                        <label for="creaTomb">CREA</label>

                    <p> <input type="radio" id="joinTomb" v-model="creajoin" value="2" name="creaTomb">
                        <label for="joinTomb">JOIN</label>


                </div>

            </div>


            <div id="login">

                <div>

                    <div>

                        <form>



                            <div class="row mb-3">
                                <label for="txtnick" class="col-sm-4 col-form-label">Nick</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtnick" v-model="form.nick">
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label for="txtjoin" class="col-sm-4 col-form-label">Join</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtjoin" v-model="form.join">
                                </div>
                            </div>



                            <div v-if="creajoin==1">

                                <div class="row mb-3">
                                    <label for="txtmaxC" class="col-sm-4 col-form-label">Cartelle max</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" id="txtmaxC" v-model="form.maxC">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="txtprezzo" class="col-sm-4 col-form-label">Prezzo cartella</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" id="txtprezzo" v-model="form.prezzo">

                                    </div>
                                </div>

                                <div class="row mb-3 form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="swauto"
                                        v-model="form.auto">
                                    <label class="form-check-label" for="swauto">Automatico</label>
                                </div>
                            </div>

                        </div>
<div>



                            <div v-if="creajoin==1">

                                <div class="row mb-3">
                                    <label for="txtambo" class="col-sm-4 col-form-label">Ambo</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" id="txtambo" v-model="form.ambo">
                                    </div>

                                </div>

                                <div class="row mb-3">
                                    <label for="txtterno" class="col-sm-4 col-form-label">Terno</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" id="txtterno" v-model="form.terno">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="txtquaterna" class="col-sm-4 col-form-label">Quaterna</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" id="txtquaterna"
                                            v-model="form.quaterna">
                                    </div>

                                </div>

                                <div class="row mb-3">
                                    <label for="txtcinquina" class="col-sm-4 col-form-label">Cinquina</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" id="txtcinquina"
                                            v-model="form.cinquina">
                                    </div>

                                </div>
                                <div class="row mb-3">
                                    <label for="txttombola" class="col-sm-4 col-form-label">Tombola</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" id="txttombola"
                                            v-model="form.tombola">
                                    </div>

                                </div>

                                <div class="row mb-3">
                                    <label for="txttombolino" class="col-sm-4 col-form-label">Tombolino</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" id="txttombolino"
                                            v-model="form.tombolino">
                                    </div>

                                </div>

                            </div>


                        </form>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" onclick="OKRegolam()">OK</button>
                <!-- <button type="primary" onclick="OKRegolam()">OK</el-button> -->
            </div>

        </div>
    </div>

    <script src="./script.js"></script>


    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <!-- import JavaScript -->
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                lblvia: ["Via!", "Avanti", "Avanti", "Avanti", "Avanti", "Avanti", "Riepilogo"],
                loggato: false,
                preloggato: false,
                creajoin: "2",
                status: -3,
                comprate: 0,
                amministratore: false,
                finecompera: false,
                estrai: false,
                messaggio: "",
                pallina: "",
                tabhtml: "",
                premitab: "",
                labelPosition: "left",
                activeTab: "Mie",
                accettato: false,
                mchat: "",
                form: {

                    nick: "",
                    join: "",
                    maxC: 2,
                    prezzo: 3,
                    auto: true,
                    ipmult: true,
                    vincunico: false,
                    ambo: 1,
                    terno: 2,
                    quaterna: 3,
                    cinquina: 4,
                    tombola: 10,
                    tombolino: 5
                },



            }, methods: {
                handleClick(tab, event) {

                },

                press(evt) {

                    if (evt.key == "Enter") chatm()
                }

            }, watch: {
                'status': function (val, oldVal) {

                    console.log("status", val, oldVal)
                    document.getElementById("cmdVia").innerText = this.lblvia[this.status * 1 + 1]
                },
                'estrai': function (val, oldVal) {


                    console.log("estrai", val, oldVal)

                    if (val) {
                        document.getElementById("cmdVia").style.visibility = "hidden"
                        document.getElementById("cmdEstrai").style.visibility = "visible"


                    }
                    else {
                        document.getElementById("cmdVia").style.visibility = "visible"
                        document.getElementById("cmdEstrai").style.visibility = "hidden"


                    }

                }
            }
        })



    </script>

</body>

</html>